[Unit]
Description=backup MYSQL databases daily
Documentation="https://github.com/Eideen/backupMysql"

[Service]
Type=oneshot
WorkingDirectory=/volum/@backup/skripts/backupMysql/
ExecStart=/volum/@backup/skripts/backupMysql/db_backup_daily.sh
User=backup
Nice=19
